@font-face {
  font-family: Weddingday;
  src: url(./fonts/Weddingday.ttf) format(truetype);
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat.ttf) format(truetype);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #050505;
  --gray: #353535;
  --white: #fffdd0;
  --small-logo: 150px;
  --big-logo: 200px;
  font-family: Helvetica, sans-serif;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-position-y: 60%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav,
.header,
.main > div,
.footer {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  opacity: 0.85;
  padding: 16px;
  box-shadow: 0 0 2px var(--white);
}

.header {
  font-family: Weddingday, Helvetica, sans-serif;
  font-size: 2rem;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 32px;
  padding: 0;
  margin-bottom: 16px;
}

nav > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

nav > div:hover:not(.selected) {
  background-color: var(--gray);
}

nav > .selected {
  background-color: var(--white);
  color: var(--black);
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main > div {
  width: max(220px, 60%);
  flex-direction: column;
  align-self: center;
  align-items: center;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 0.8rem;
  gap: 8px;
  border-radius: 4px;
}

.logo {
  position: relative;
  height: var(--small-logo);
  width: var(--small-logo);
}

.logo img:first-child {
  position: absolute;
  height: var(--small-logo);
  width: auto;
  z-index: 1;
}

.logo img:last-child {
  position: absolute;
  height: calc(var(--small-logo) / 3 * 2);
  width: calc(var(--small-logo) / 3 * 2);
  right: calc(var(--small-logo) / 6);
  top: calc(var(--small-logo) / 6);
  z-index: 2;
}

.main .menu {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 8px 0;
  cursor: pointer;
}

.item:hover {
  background-color: var(--gray);
}

.item img {
  height: 100px;
  width: 100px;
  box-shadow: 0 0 2px var(--white);
}

.contact img {
  height: 25px;
  width: auto;
}

.footer {
  font-size: 0.8rem;
  margin-top: 16px;
}

@media (min-width: 600px) {
  .header {
    font-size: 2.4rem;
  }

  .main > div {
    width: max(25%, 300px);
    font-size: 1.2rem;
  }

  .logo img:first-child,
  .logo {
    height: var(--big-logo);
  }

  .logo {
    width: var(--big-logo);
  }

  .logo img:last-child {
    height: calc(var(--big-logo) / 3 * 2);
    width: calc(var(--big-logo) / 3 * 2);
    right: calc(var(--big-logo) / 6);
    top: calc(var(--big-logo) / 6);
  }

  .main .menu {
    width: max(60%, 500px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .item {
    padding: 12px 0;
  }

  .item img {
    height: 190px;
    width: 190px;
  }
}
