@font-face {
  font-family: Weddingday;
  src: url(./Weddingday.ttf);
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #050505;
  --white: #fffdd0;
  font-family: Helvetica, sans-serif;
  background-image: url(./background.jpg);
  background-size: cover;
  background-position-y: 60%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  opacity: 0.85;
  padding: 24px;
}

.header {
  font-family: Weddingday;
  font-size: 2rem;
}

.main {
  flex: 1;
}

.footer {
  font-size: 0.8rem;
}
