@font-face {
  font-family: Weddingday;
  src: url(./fonts/Weddingday.ttf) format(truetype);
  font-weight: 600;
}

@font-face {
  font-family: Neogloss;
  src: url(./fonts/Neogloss.ttf) format(truetype);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #050505;
  --white: #fffdd0;
  --small-logo: 150px;
  --big-logo: 200px;
  font-family: Helvetica, sans-serif;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-position-y: 60%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.main > div,
.footer {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  opacity: 0.85;
  padding: 16px;
  box-shadow: 0 0 2px var(--white);
}

.header {
  font-family: Weddingday, Helvetica, sans-serif;
  font-size: 2rem;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main > div {
  width: 220px;
  flex-direction: column;
  align-self: center;
  align-items: center;
  font-family: Neogloss, Helvetica, sans-serif;
  font-size: 1.6rem;
  gap: 8px;
  border-radius: 4px;
}

.footer {
  font-size: 0.8rem;
}

.logo {
  position: relative;
  height: var(--small-logo);
  width: var(--small-logo);
}

.logo img:first-child {
  position: absolute;
  height: var(--small-logo);
  width: auto;
  z-index: 1;
}

.logo img:last-child {
  position: absolute;
  height: calc(var(--small-logo) / 3 * 2);
  width: calc(var(--small-logo) / 3 * 2);
  right: calc(var(--small-logo) / 6);
  top: calc(var(--small-logo) / 6);
  z-index: 2;
}

@media (min-width: 600px) {
  .main > div {
    width: 300px;
    font-size: 2rem;
  }

  .logo img:first-child,
  .logo {
    height: var(--big-logo);
  }

  .logo {
    width: var(--big-logo);
  }

  .logo img:last-child {
    height: calc(var(--big-logo) / 3 * 2);
    width: calc(var(--big-logo) / 3 * 2);
    right: calc(var(--big-logo) / 6);
    top: calc(var(--big-logo) / 6);
  }
}
